onedrive_xlsx_automatizado.json
{
  "name": "OneDrive XLSX Automatizado",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "hour": 9,
            "minute": 0
          },
          {
            "hour": 15,
            "minute": 0
          }
        ]
      },
      "id": "1",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "query": "*",
        "filters": {
          "name": {
            "contains": ".xlsx"
          }
        },
        "options": {
          "orderby": "lastModifiedDateTime desc",
          "top": 1
        }
      },
      "id": "2",
      "name": "Buscar Arquivo no OneDrive",
      "type": "n8n-nodes-base.microsoftOneDrive.search",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "1",
          "name": "OneDrive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "fileId": "={{ $json.id }}"
      },
      "id": "3",
      "name": "Baixar Arquivo XLSX",
      "type": "n8n-nodes-base.microsoftOneDrive.download",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "1",
          "name": "OneDrive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "options": {},
        "binaryPropertyName": "data"
      },
      "id": "4",
      "name": "Converter Excel para JSON",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Buscar Arquivo no OneDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Arquivo no OneDrive": {
      "main": [
        [
          {
            "node": "Baixar Arquivo XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Arquivo XLSX": {
      "main": [
        [
          {
            "node": "Converter Excel para JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1747402773"
}